@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: none;
}

body {
  background: transparent;
}

.chat-window::-webkit-scrollbar {
  display: none;
}

.chat-window {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  :root {
    --gradient: linear-gradient(to top left,#00467F,#A5CC82);
    --background: 220 100% 98.5%;
    --foreground: 220 10% 1%;

    --muted: 220 10% 92.5%;
    --muted-foreground: 220 5% 42.5%;

    --popover: 220 10% 92.5%;
    --popover-foreground: 220 10% 1.25%;

    --card: 220 10% 92.5%;
    --card-foreground: 220 10% 1.25%;

    --border: 220 15% 90%;
    --input: 220 15% 90%;

    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;

    --secondary: 220 5% 96.25%;
    --secondary-foreground: 220 7% 12.5%;

    --accent: 220 5% 96.25%;
    --accent-foreground: 220 7% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 220 100% 25%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #007adf, #00ecbc);

    --background: 220 65% 3.52%;
    --foreground: 220 10% 97.2%;

    --muted: 220 50% 13.2%;
    --muted-foreground: 220 10% 54.4%;

    --popover: 220 45% 5.72%;
    --popover-foreground: 220 10% 97.2%;

    --card: 220 45% 5.72%;
    --card-foreground: 220 10% 97.2%;

    --border: 220 50% 13.2%;
    --input: 220 50% 13.2%;

    --primary: 220 100% 44%;
    --primary-foreground: 220 10% 97.2%;

    --secondary: 220 50% 13.2%;
    --secondary-foreground: 220 10% 97.2%;

    --accent: 220 50% 13.2%;
    --accent-foreground: 220 10% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 10% 97.2%;

    --ring: 220 100% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.chat-bubble {
  background-color: #f1f1f1;
  padding: 16px 28px;
  border-radius: 10px;
  display: inline-block;
}

.typing {
  align-items: center;
  display: flex;
  height: 17px;
}

.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #ffc989;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}

.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}

.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #ffc989;
  }
  28% {
    transform: translateY(-7px);
    background-color: #ffa947;
  }
  44% {
    transform: translateY(0px);
    background-color: #f1f1f1;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
